.collection-item{
    padding: 20em 0em;
    font-size: 25px;
    line-height: 30px;
}

.rotate{
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}